*, *::before, *::after {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  background: #222222;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  padding: 2em;
  margin-inline: auto;
}

.nav-logo {
  font-size: 1.2rem;
  color: #8a8a8a;
  transition: all .3s ease-in-out;

  &:hover {
    color: #FFFFFF;
  }
}

.nav-menu {
  display: flex;

  li {
    margin-right: 2em;
  }
  li:last-child {
    margin-right: 0;
  }

  a {
    color: #8a8a8a;
    text-decoration: none;
    /* border-bottom: 2px solid transparent; */
    padding-bottom: 6px;
    transition: all .3s ease-in-out;

    &:hover {
    color: #FFFFFF;
    /* border-bottom: 2px solid #FFFFFF; */
    }
  }

  
}