*, *::before, *::after {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5em;
  color: #777777;
  background: #222222;
}

p {
  font-size: 3rem;
}