*, *::before, *::after {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5em;
  color: #777777;
  background: #222222;
}

p {
  font-size: 3rem;
}

li {
  list-style-type: none;
}

.header {
  max-width: 500px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;

  a {
    color: #CCCCCC;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 6px;
    transition: all .3s ease-in-out;

    &:hover {
    color: lime;
    border-bottom: 2px solid lime;
    }
  }

  
}